
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src:
        url("../fonts/open-sans-v27-latin-300.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/open-sans-v27-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: 
        url("../fonts/open-sans-v27-latin-regular.woff2") format("woff2"), 
        url("../fonts/open-sans-v27-latin-regular.woff") format("woff"); 
}  

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src:
        url("../fonts/open-sans-v27-latin-600.woff2") format("woff2"), 
        url("../fonts/open-sans-v27-latin-600.woff") format("woff");
} 

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src:
        url("../fonts/open-sans-v27-latin-500.woff2") format("woff2"), 
        url("../fonts/open-sans-v27-latin-500.woff") format("woff"); 
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src:
        url("../fonts/open-sans-v27-latin-700.woff2") format("woff2"), 
        url("../fonts/open-sans-v27-latin-700.woff") format("woff");
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans" sans-serif;
}
  button:hover {
  background-color: #01668bc5;
  color:  rgb(255, 255, 255);

}

.site-header {
  background: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
          height: 56px;
}

.site-header-container {
  margin-right: auto; 
  margin-left: auto;
  width: 1300px;
  
}

.header-wrapper {
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 102px;
}

.logo-img {
  width: 59px;
  height: 20px;
  margin-top: 18px;
}

.nav-wrapper {
  width: 760px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-nav {
  height: 56px;
}

.sita-header-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
  width: 516px;
}

.site-list {
  list-style-type: none;
  height: 32px;
}

.nav-link {
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 24px;
  color: rgb(0, 0, 0);
}

.header-button {
  margin: 0;
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-left: 20px;
  color: rgb(255, 255, 255);
  background: rgb(0, 186, 252);
  border-radius: 5px;
  border: none;
}


  /* hero main */


.site-hero {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans" sans-serif;
}

.site-hero-container {
  width: 1100px;
  height: 418px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper{
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-servise {
  width: 470px;
  margin-top: 25px;
}

.hero-servise-heading {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 130%;
  color: rgb(0, 0, 0);
  width:  470px;
  margin-top: 60px;
}

.site-hero-text {
  font-family: Open Sans;
  font-size: 18px;
  line-height: 24px;
  width: 470px;
  margin: 0;
  padding: 0;
}

.site-hero-button {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: rgb(255, 255, 255);
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  border: none;
  margin-top: 16px;
  background: rgb(0, 186, 252);
}

.youtube{
  margin-top: 78px;
}

/* site servise */


.servise-container {
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.servise-wrapper {
  width: 1100px;
}

.servise-heading {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: rgb(0, 0, 0);
}

.servise-text{
  font-family: Open Sans;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.site-servise-ul{
  margin-top: 30px;
  padding-left: 0;
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.servise-list{
  list-style-type: none;
}
.servise-ul {
  padding-left: 0;
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 150px;
  margin-top: 30px;
  }

.servise-list-div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  width: 300px;
  height: 260px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.servise-list-div:hover {
  -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
}

.site-servise-site {
  width: 200px;
  height: 140px;
  margin-left: 50px;
}

.site-servise-teligram {
  width: 200px;
  height: 140px;
  margin-left: 50px;
}

.site-servise-smm {
  width: 200px;
  height: 148px;
  margin-left: 50px;
}

.site-servise-design {
  width: 200px;
  height: 146px;
  margin-left: 50px;
}

.site-servise-crm {
  width: 200px;
  height: 154px;
  margin-left: 50px;
}

.site-servise-heading {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: rgb(0, 0, 0);
}

.site-servise-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: rgb(0, 0, 0);
  
}

.wrapper-button {
  width: 1100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 400px;
}

.servise-btn  {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 186, 252);
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  border: none;
  margin-top: 30px;
}

.servise-link {
  color: rgb(0, 186, 252);
  margin-left: 10px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: rgb(0, 186, 252);
  }


/*  our business  */


.business-container {
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  }

.business-wrapper {
  width: 900px;
  margin-left: 100px;
}

.site-work-heading {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: rgb(0, 0, 0);
}

.site-work-text {
  font-family: Open Sans;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.site-work-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.work-bar-heading {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: rgb(0, 0, 0);
  text-align: start;
  margin: 0;
}

.work-bar-text {
  width: 493px;
  font-family: Open Sans;
  font-size: 16px;
  line-height: 24px;
  color: rgb(0, 0, 0);
}

.site-work-btn {
padding: 8px 20px 8px 20px;
color:rgb(255, 255, 255);
background-color: rgb(0, 186, 252);
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;
border: none;
border-radius: 5px;
margin-left: 409px;
}



/* site order */


.order-section {
  background: rgb(0, 186, 252);
  height: 580px;
}

.site-order-container {
width: 719px;
margin-left: auto;
margin-right: auto;
}

.order-wrapper {
  width: 719px;
  margin-top: 60px;
  margin-left: 55px;
}

.site-order-heading {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: rgb(255, 255, 255);
  padding-top: 60px;
}

.site-order-text {
  font-family: Open Sans;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: rgb(255, 255, 255);
  
}

.order-form {
  margin-left: 185px;
  width: 348px;
  height: 320px;
  background-color: rgb(255, 255, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border: 1px solid rgb(255, 241, 241);
  margin-top: 25px;
  
}

.input {
  width: 300px;
  height: 56px;
  margin-top: 20px;
  background-color: rgb(243, 243, 243);
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  font-family: Open Sans;
  font-size: 16px;
  line-height: 150%;
  color: rgb(0, 0, 0);
  margin-left: 20px;

}

.species {
  margin-top: 20px;
  width: 310px;
  height: 56px;
  border: 1px solid rgb(243, 243, 243);
  background-color: rgb(243, 243, 243);
  padding-top: 8px;
  border-radius: 5px;
  padding-left: 10px;
  font-family: Open Sans;
  font-size: 16px;
  line-height: 150%;
  color: rgb(0, 0, 0);
  margin-left: 20px;
}

.site-order-btn {
  padding: 8px 20px 8px 20px;
  color:rgb(255, 255, 255);
  background-color: rgb(0, 186, 252);
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
}


 /* site footer */

.site-footer {
  height: 338px;
  background-color: rgb(25, 25, 25);
}

.site-footer-container {
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.footer-wrapper {
  width: 795px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
}

.footer-heading {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  color:rgb(255, 255, 255);
}

.footer-text {
  width: 320px;
  font-family: Open Sans;
  font-size: 16px;
  line-height: 30px;
  color:rgb(255, 255, 255);
  }

.site-footer-heading {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  color:rgb(255, 255, 255);
}

.site-footer-ul {
  padding-left: 0;
}

.site-footer-list {
  list-style-type: none;
}


.site-footer-link {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.footer-item-heading {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  color:rgb(255, 255, 255);
}

.footer-item-ul {
  height: 88px;
  padding-left: 0;
}

.footer-item-list {
  list-style-type: none;
}

.footer-item-link {
  text-decoration: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  width: 110px;
}

.footer-img {
  width: 22px;
  height: 24px;
}

.we-internet-text {
  margin: 0;
  color:rgb(255, 255, 255);
}







